:root {
  --clr-primary-100: #f39e9e;
  --clr-primary-200: #f6a560;
  --clr-primary-300: #eb7565;
  --clr-primary-400: #61c4b7;
  --clr-primary-500: #755cde;
  --clr-primary-600: #552049;
  --clr-neutral-900: #030303;
  --clr-neutral-700: #7a746e;
  --clr-neutral-200: #fff7f0;
  --clr-neutral-100: #ffffff;

  --ff-primary: 'Plus Jakarta Sans', sans-serif;

  --fw-400: 500;
  --fw-700: 700;

  --fs-400: 0.875rem;
  --fs-500: 1rem;
  --fs-600: 1.5rem;
  --fs-700: 1.5rem;
  --fs-800: 1.625rem;
  --fs-900: 2.25rem;
}

@media (min-width: 600px) {
  :root {
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-700: 2rem;
    --fs-800: 2rem;
    --fs-900: 2.75rem;
  }
}

@media (min-width: 1000px) {
  :root {
    --fs-800: 2.5rem;
    --fs-900: 3.5rem;
  }
}

/* remove default values*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* global styles */

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-500);
  font-weight: var(--fw-400);
  color: var(--clr-neutral-900);
  text-align: center;
  background-color: var(--clr-neutral-200);
  margin: 2em 0;
  padding: 0;
}

/* Typography */

.title {
  font-size: var(--fs-900);
  font-weight: var(--fw-700);
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h2 {
  font-size: var(--fs-800);
  margin-bottom: 1em;
  line-height: 1.2;
}

h3 {
  font-size: var(--fs-700);
  margin-bottom: 1em;
}

.hero-text,
.main-text {
  color: var(--clr-neutral-700);
  padding: 0 2em;
  line-height: 1.7;
  margin-bottom: 2.5em;
}

.main-text {
  padding: 0em;
  margin-bottom: 1.5em;
}

.booking-text {
  margin-bottom: 1.5em;
}

.service-box p {
  font-size: var(--fs-600);
  font-weight: var(--fw-700);
  color: var(--clr-neutral-100);
}

@media (min-width: 1000px) {
  .hero-text {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* buttons */

.btn {
  font-size: var(--fs-400);
  color: var(--clr-neutral-200);
  font-weight: var(--fw-700);
  padding: 0.8em 2em;
  border: none;
  border-radius: 28px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.btn-dark {
  background-color: var(--clr-neutral-900);
}

.btn-dark:hover,
.btn-dark:focus {
  background-color: var(--clr-primary-500);
}

.btn-accent {
  background-color: var(--clr-primary-300);
}

.btn-accent:hover,
.btn-accent:focus {
  background-color: var(--clr-primary-200);
}

.slider-btn {
  background-color: var(--clr-neutral-900);
  padding: 1.3em;
  border: none;
  border-radius: 50px;
  margin: 0.5em;
}

.slider-btn:focus,
.slider-btn:active,
.slider-btn:hover {
  background-color: var(--clr-primary-500);
}

.arrow-icon {
  width: 1rem;
}

/* Layout */

.container {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
}

/* header & footer */

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  margin-bottom: 2em;
}

.logo {
  max-width: 3rem;
}

@media (min-width: 600px) {
  .logo {
    max-width: 4rem;
  }
}

/* hero section */

.hero {
  margin-bottom: 6em;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5em;
}

.service-box {
  display: grid;
  grid-gap: 2.3em;
  padding: 1.5em;
  border-radius: 8px;
}

.service-box img {
  justify-self: end;
}

.service-box p {
  justify-self: start;
  align-self: end;
}

.box-color-1 {
  background-color: var(--clr-primary-500);
  grid-column: span 2;
  grid-row-gap: 5.3em;
}

.box-color-2 {
  background-color: var(--clr-primary-200);
}

.box-color-3 {
  background-color: var(--clr-primary-100);
}

/*photography*/
.box-color-4 {
  background-color: var(--clr-primary-400);
  grid-column: span 2;
  grid-gap: 2.1em;
}

.box-color-5 {
  background-color: var(--clr-primary-300);
  grid-column: 1 / span 2;
  grid-row: 3;
  grid-gap: 1em;
}
.box-color-6 {
  background-color: var(--clr-primary-600);
  grid-column: span 2;
}

@media (min-width: 600px) {
  .services-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .box-color-1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
  }

  .box-color-2 {
    grid-column: 3;
  }

  .box-color-4 {
    grid-column: 3 / span 2;
  }
}

@media (min-width: 1000px) {
  .services-grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .box-color-4 {
    grid-column: 5 / span 2;
  }

  .box-color-5 {
    grid-column: 3 / span 2;
    grid-row: 2;
  }
}

/* main section */

main img {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2em;
}

main {
  margin-bottom: 6em;
}

@media (min-width: 600px) {
  main {
    display: flex;
    align-items: center;
    text-align: left;
  }

  main img {
    min-width: 55%;
    transform: translateX(-85px);
  }
}

/* my work section */

.my-work {
  position: relative;
  margin-bottom: 4em;
  height: 350px;
  overflow: hidden;
}

.slider-container {
  position: relative;
  height: 50%;
  width: 70%;
  margin: 0 auto;
}

.slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-210%);
}

.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.slider-btns-container {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 600px) {
  .my-work {
    height: 600px;
  }

  .slider-container {
    height: 60%;
    width: 50%;
  }

  .slider-btns-container {
    position: absolute;
    top: 80%;
    left: 50%;
  }
}

@media (min-width: 1000px) {
  .slider-container {
    width: 35%;
  }
}

/* booking section */

.booking {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-200);
  border-radius: 10px;
  padding: 3em 1.5em;
  margin-bottom: 3em;
}

@media (min-width: 600px) {
  .booking-text {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1000px) {
  .booking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 3em;
  }
}
